### Pruebo el code-cell

In [1]:
import pandas as pd
df = pd.DataFrame( {"A": range(100), "B": [k**2 for k in range(100)] } )
df

     A     B
0    0     0
1    1     1
2    2     4
3    3     9
4    4    16
..  ..   ...
95  95  9025
96  96  9216
97  97  9409
98  98  9604
99  99  9801

[100 rows x 2 columns]

### Con ipython3

In [2]:
note = "Python syntax highlighting"
print(note)

Python syntax highlighting

### Sin ipython3

In [3]:
note = "Python syntax highlighting"
print(note)

Python syntax highlighting